
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="AboutHead">
    <h3>Place a Blood Request</h3>
    <p>Need blood? Place a request to get SMS of blood donors.</p>
</div>
<div class="" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Blood Group</label>
                <select class="form-control">
                    <option value="0">Select........</option>
                    @foreach (var item in ViewBag.bldgrup)
                    {
                        <option value="@item.GroupId">@item.GroupName</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Number of Bags</label>
                <select class="form-control">
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Blood Needed Date</label>
                <input type="date" name="date" value="" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Contact Number</label>         
                <input id="" type="number" class="form-control" placeholder="Enter your number"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Why Is Blood Needed?</label><br />
                <textarea cols="78" rows="3" spellcheck="false" style="max-width: 564px;height: 110px;"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Blood donation Address</label>
                <textarea cols="78" rows="3" spellcheck="false" style="max-width: 564px;height: 110px;"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group text-center" >
        <input type="submit" value="Submit" class="btn btn-danger btn-lg" />
    </div>
</div>