@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="" style="margin: 100px -15px 50px -5px; background: #808080; padding-top: 50px; padding-bottom: 50px;">
    @Html.Partial("SearchDonor")
</div>
<div class="" style="font-family: 'Poppins', sans-serif;">
    <h3 style="background: #ff0000; color: white; padding: 10px; font-size: 15px; margin-bottom: 20px; ">Total donors found</h3>
    <div class="row">
        @*@foreach (var item in ViewBag.Request)
        {*@
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well" style="min-height:150px">
                <p>Name: Md Rajib Rari</p>
                <p>Group: A+</p>
                <p>District: Patuakhali</p>
            </div>
        </div>
        @*}*@
    </div>
</div>