@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="HeadSection">
    <div class="banner-card">
        <img src="~/Content/img/bloodpicture.jpg" />
        <div class="banner-text">
            <h3>SMS-based platform to connect<br /> blood searchers with donors.</h3>
            <h4> Rokto is a real-time free platform to help blood searchers connect<br /> voluntary blood donors around Bangladesh.</h4>
            <p>
                <a href="" class="btn btn-danger btn-lg">Join as a Donor</a> @Html.ActionLink("Search Donors", "Contact", "Home", null, new { @class = "btn btn-success btn-lg", @style = "margin-left:5px;" })
            </p>
</div>
    </div> 

    <div class="row">
        <div class="col-md-6">
            <h3>What is Rokto?</h3>
            <p style="font-size: 20px;">Rokto is an automated blood service that connects blood searchers with voluntary donors in a moment through SMS. Rokto is always a free service for all.</p>
        </div>
        <div class="col-md-6">
            <h3>Why is Rokto?</h3>
            <ul style="font-size: 20px;">
                <li>100% Automated</li>
                <li>Always free</li>
                <li>24×7 service</li>
                <li>All data is secured</li>
            </ul>
        </div>
    </div>
    <div class="text-center ButtonCustom">
        <a href="#" class="btn btn-danger btn-lg">Learn More</a>
    </div>
</div>
<div class="SearchButtom">
    <h2 class="text-center" style="color: #d9534f; font-family: Poppins !important; ">Search Donors</h2>
    @Html.Partial("SearchDonor")
</div>

<div class="AboutSection">
    <h2 class="btn btn-danger btn-lg">About Us</h2>
    <p>Rokto is an automated blood service that connects blood searchers with <br>voluntary blood donors in a moment through SMS. Rokto is a not-for-profit <br>initiative to aware people of voluntary blood donation in Bangladesh.</p>
    <div class="text-center ButtonCustom">
        <a href="#" class="btn btn-danger btn-lg">Learn More</a>
    </div>
</div>
