@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="HeadSection">
    <h1>ASP.NET</h1>
    <p style="font-size: 25px;"> Rokto is a real-time free platform to help blood searchers connect voluntary blood donors around Bangladesh.</p>
    <p><a href="#" class="btn btn-danger btn-lg">Join as a Donor</a> <a style="margin-left:5px;" href="#" class="btn btn-success btn-lg">Search Donors</a></p>
    <div class="row">
        <div class="col-md-6">
            <h3>What is Rokto?</h3>
            <p style="font-size: 20px;">Rokto is an automated blood service that connects blood searchers with voluntary donors in a moment through SMS. Rokto is always a free service for all.</p>
        </div>
        <div class="col-md-6">
            <h3>Why is Rokto?</h3>
            <ul style="font-size: 20px;">
                <li>100% Automated</li>
                <li>Always free</li>
                <li>24×7 service</li>
                <li>All data is secured</li>
            </ul>         
        </div>
    </div>
    <div class="text-center ButtonCustom">
        <a href="#" class="btn btn-danger btn-lg">Learn More</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>