
#rokto .btn-get-more {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
    text-align:center!important;
}

#rokto .btn-get-more:hover {
    background: #ff0000;
}
#Area {
   
}
#Area .container {
    position: relative;
}
#Area h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    color: #ff0000;
    text-align:center;
}

#Area .box-icon span {
    padding: 20px;
    font-size:40px;
    color:#ff0000;
    margin-left:136px;
}
#Area .box-icon p {
    font-size: 30px;
    color: #ff0000;
    text-align:center!important;
}

#about {
    
}
#about .container {
    position: relative;
}
#about h2 {
    text-align: center !important;
    color: #ff0000 !important;
    font-weight: 600 !important;
    margin:36px;
}
#about p {
    text-align: center !important;
    color: #ff0000 !important;
    /*font-weight: 600 !important;*/
}
*#about .btn-about-more {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
    text-align: center !important;
}
#about .aboutbottum:hover {
    background: #ff0000;
}