<div class="paralax_area">
    <div class="container">
        <div style="text-align: center">
            <h2 class="text-white" style="color: white; margin: 40px;">Emergency Blood Request</h2>
            <hr />
        </div>
        <div class="row">
            @foreach (var item in ViewBag.pst)
            {
                <div class="col-md-4">
                    <div class="well" style="min-height:400px">
                        @*<h2>Blood Group: @item.BloodGroup.BloodGroup</h2>*@
                        <p>Number Of Bag: @item.NumberOfBag</p>
                        <p>Contact Number: @item.ContactNumber</p>
                        <p>donationAddress: @item.BlooddonationAddress</p>                      
                        @*<p><a class="btn btn-default" href="#">View Details &raquo;</a></p>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>
